body {
  background: white;
  max-width: 960px;
}

p {
  font-size: 25px;
}

h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 5em;
  color: aqua;
}

h2 {
  font-family: georgia;
  color: white;
  font-size: 2em;
}

.container {
  margin: auto;

}

.banner {
  height: 100vh;
  padding: 20px;
  background: url(http://i1356.photobucket.com/albums/q725/aef538/christian-van-bebber-144485-unsplash_zpsdpmb4uy7.jpg);
  background-position: bottom;
  background-size: cover;
}

.aboutMe {
  height: 300px;
  background: gray;
  padding: 30px;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  padding: 15px;
  background-color: lightgray;
}

article {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  background-color: blue;
  flex: 1;
}

nav ul {
  font-family: opensans;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 960px;
  list-style-type: none;
}

li a{
  padding: 40px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

article {
  flex: 1;
  height: 100px;
  width: 100px;
}

footer {

}

i {
  font-size: 2.5em;
  padding: 15px;
  display: flex;
  color: white;
}

i:visited {
  color: white;
}

li {
  text-transform: uppercase;
  font-family: open sans;

}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 5em;
    color: aqua;
    }
  h2 {
    font-family: georgia;
    color: white;
    font-size: 2em;
  }
  .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding: 15px;
  background-color: lightgray;
}
  .proj {
    width: 300px;
    height: 300px;
  }
  p {
    font-size: 1.25em;
  }
}
